//- Latest jQuery
<script src="//code.jquery.com/jquery-latest.js"></script>
//- Featherlight Ligthbox
<script src="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
//- Main Js File
script(src="/assets/js/app.js")
