a.sticky-cta.animate__animated#js-sticky-cta(href="#signup-section") Sign Up

//- Latest jQuery
script(src="//code.jquery.com/jquery-latest.js")
//- Featherlight Ligthbox
script(src="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js" type="text/javascript" charset="utf-8")
//- In-View Js
script(src="https://unpkg.com/in-view@0.6.1/dist/in-view.min.js" type="text/javascript")
//- Main Js File
script(src="/assets/js/app-min.js")
