.product__animation
  img(src="assets/images/image1.png" alt="Patented U.S. Military Technology Could Help Protect Your Home, Office & Family from the Coronavirus")
  
  .product__animation__virus.product__animation__virus--1
    lottie-player(src='https://assets4.lottiefiles.com/packages/lf20_ppL5oX.json' background='transparent' speed='0.8' loop='' autoplay='')
  .product__animation__virus.product__animation__virus--2
    lottie-player(src='https://assets4.lottiefiles.com/packages/lf20_ppL5oX.json' background='transparent' speed='0.6' loop='' autoplay='')
  .product__animation__virus.product__animation__virus--3
    lottie-player(src='https://assets4.lottiefiles.com/packages/lf20_ppL5oX.json' background='transparent' speed='0.4' loop='' autoplay='')
