doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Protect your home, office and family from the Coronavirus
    //- Google Fonts
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet")
    //- Lottie Files
    script(src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js')
    //- Featherlight Ligthbox
    link(href="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css" type="text/css" rel="stylesheet")
    link(rel="stylesheet" href="/assets/css/main.css")
    
  body
    
    .wrapper
      
      section.above-fold    
      
        .above-fold__inner
          
          .above-fold__hero
            include includes/product-animation.pug
              
          
          h1 
            | This Patented U.S. Military Technology Could Help Protect Your Home, Office &amp; Family from the Coronavirus.. 
            span (And add $300,000 to your bank account)
      
      section.tagline
        
        .container
          
          h2
            | This groundbreaking device grew out of patented technologies originally developed for the U.S. Military to 
            strong combat bioterrorism...
          h2  
            | And now you have the chance to put one in your home or office — and earn a fortune at the same time!
      
      section.letter
        
        .container
          
          .profile
            img.profile__pic(src="/assets/images/image8.png" title="Matt Millner of Crowdability, CEO and Founder" alt="CEO and Founder of Crowdability, Matt Millner")
            p.profile__name Matt Milner, CEO / Founder
            p.profile__title Crowdability
          
          article
            p Dear Reader,

            p Hi, Matt Milner, Founder and CEO of Crowdability here...

            p As you know, I’m about to reveal the details behind a groundbreaking device...

            p 
              | Something we’ve been calling, 
              strong “The COVID-Killer.”
            
            p
              | And as you’ll learn during this presentation, the groundbreaking technology behind this device was originally developed for the U.S. Military... In fact, it was originally designed to help combat bio-terrorism and chemical attacks... But after the coronavirus appeared earlier this year...
              
            p The inventor of this technology decided to start a company to fight this pandemic… And that’s when he secured the exclusive patents to this device. 
            
            p Meaning, this is the only company in the world that has the ability to commercialize and sell this technology.
            
            p And as you’ll discover, not only could this technology help protect people across the globe... and get them back to work...
            
            p But it could potentially hand investors like you massive profits…
            
            .classified
              img.classified__product(src="/assets/images/image5.png")
              //- .classified__lottie
              //-   lottie-player(src='https://assets4.lottiefiles.com/packages/lf20_SyUX5x.json' background='transparent' speed='1' style='width: 300px; height: 300px;' loop='' autoplay='')
      
      section.numbers
        
        .numbers__lottie-rain
          lottie-player(src='https://assets5.lottiefiles.com/packages/lf20_0ozuxa18/celebration_33/celebration_draft.json' background='transparent' speed='1' loop='' autoplay='')
      
        .numbers__lottie-bag
          lottie-player(src='https://assets5.lottiefiles.com/packages/lf20_jOH2sn.json' background='transparent' speed='1' style='width: 400px; height: 400px;' loop='' autoplay='')
        
        .container
          
          .numbers__headline
            h3 
              | I’m talking about the chance to turn 
              span every $1,000 you invest into $30,000... 
            h3 
              | And 
              span every $10,000 into $300,000...

            h4 And that’s all with just one investment!
          
          .numbers__subtitle
            h5 I know that might sound far fetched...But in a moment, you’ll see why I’m so confident in this forecast.
            .arrow-down
      
      section.how
        
        .container
          
          article.use-drop-cap 
          
            p You see, my business partner, Wayne Mulligan and I have spent the past two months diving into scientific research papers and peer-reviewed journals...

            p Basically, we’ve been trying to dig up as much information and data as possible about the device you see here...

            .how__product
              h4 
                | What they discovered 
                br 
                | is extraordinary...
              img(src="assets/images/image1.png" alt="Patented U.S. Military Technology Could Help Protect Your Home, Office & Family from the Coronavirus")
      
      section.discovered
        
        .container
          
          article.use-drop-cap
            p 
              | Basically, they discovered a 
              em classified military-research project...

            p And the goal of this military project was clear:

            p To develop a technology to kill bacteria — in mid-air, instantaneously.

            p Now, initially, this project was designed to fight off bio-terrorist attacks...

            p But as a number of tests and studies eventually proved, this technology has the potential not just to kill bacteria, but to kill various pathogens, too...

            p Pathogens like the coronavirus.

            p Which is why, after the coronavirus pandemic swept the world earlier this year, the inventor of this technology made a decision...

            p He decided to leverage the technology he’d developed for the military...

            p And use it to create a device to protect ordinary citizens like you...

            p And now he’s started a groundbreaking company — a private startup company — that’s about to release this device commercially...

            p So consumers like you — and like all of us — can be protected from the coronavirus… whether we’re in our home, our office, or even a restaurant or a store. 
      
      section.vaccine
        
        .container 
        
          article
            
            h2 Essentially, this device acts like an “Airborne Vaccine”...
            
            .vaccine__product
              include includes/product-animation.pug
            
            p But instead of injecting people like you with a vaccine...

            p 
              | It’s designed to 
              em eliminate 
              | — to actually 
              em kill 
              | — all the coronavirus molecules in the air around you.

            p Look, our entire team has been researching all of the products and technologies aimed at fighting the coronavirus for months now.

            p And the fact is, 
              strong we’ve never seen ANYTHING like this device before.

            p 
              strong And I can almost guarantee that you haven’t either.

            p That’s because this company has secured the exclusive patent to this technology...

            p In fact, here’s the patent — I’m putting it right up on your screen so you can see it in black and white.
            
            a.vaccine__patent(data-featherlight="/assets/images/image7.jpg" href="#")
              img(src="/assets/images/image7.jpg" width="500" height="645" alt="Coronavirus killing technology patent" title="Coronavirus killing technology patent")


      
  include includes/footer.pug
    
