/* http://meyerweb.com/eric/tools/css/reset/
 * * v2.0 | 20110126
 * * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  font-size: 62.5%;
  font-family: "Libre Franklin", sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

article h2 {
  font-size: 4rem;
}
article p {
  font-size: 2.3rem;
  margin-bottom: 16px;
  color: #fff;
  line-height: 3rem;
}
article.use-drop-cap p:first-of-type:first-letter {
  color: #4D6A6D;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
article.use-drop-cap--light p:first-of-type:first-letter {
  color: #A0A083;
}

@media screen and (max-width: 880px) {
  article p {
    font-size: 2rem;
  }
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper section {
  padding: 60px 40px;
}
.wrapper section.use-butwait {
  padding-bottom: 100px;
  position: relative;
}

.lightbox {
  display: table;
}
.lightbox img {
  box-shadow: 0 30px 8px -15px rgba(0, 0, 0, 0.4);
  transition: all 300ms;
  display: table;
}
.lightbox img:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  transform: scale(0.95);
}

.butwait {
  background-color: #4D6A6D;
  position: relative;
  bottom: -60px;
  margin-left: -40px;
  margin-right: -40px;
  padding: 20px 50px;
}
.butwait h5 {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  color: #fff;
}
.butwait .arrow-down {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid #4D6A6D;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

.rain {
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.product__animation {
  position: relative;
}
.product__animation img {
  max-width: 100%;
  animation: floating 2s ease-in-out alternate infinite;
}
.product__animation__virus {
  position: absolute;
}
.product__animation__virus lottie-player {
  width: 150px;
  height: 150px;
}
.product__animation__virus--1 {
  top: -75px;
  left: -75px;
}
.product__animation__virus--2 {
  top: 33%;
  right: -75px;
}
.product__animation__virus--3 {
  top: 65%;
  left: -100px;
}

.above-fold {
  height: 100vh;
  max-height: 100vh;
  background: linear-gradient(180deg, #558186 14%, rgba(77, 106, 109, 0.9570203081) 80%);
}
.above-fold__inner {
  display: flex;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.above-fold__hero {
  max-width: 200px;
  margin-bottom: 10px;
  position: relative;
}
.above-fold h1 {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 4.5rem;
  color: #fff;
  text-align: center;
}
.above-fold h1 span {
  margin-top: 10px;
  font-size: 3rem;
  display: block;
  font-weight: bold;
  color: #73AB84;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 880px) {
  .above-fold {
    font-size: 1rem;
  }
  .above-fold__hero {
    max-width: 35%;
  }
  .above-fold h1 {
    font-size: 2.4rem;
    line-height: 4rem;
  }
  .above-fold h1 span {
    font-size: 2rem;
  }
}
.tagline {
  background-image: url(/assets/images/military.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}
.tagline h2 {
  font-size: 2.9rem;
  line-height: 3.8rem;
  margin-bottom: 20px;
}
.tagline h2:last-of-type {
  margin-bottom: 0;
}

.letter {
  background-color: #A0A083;
}
.letter .profile {
  text-align: center;
  margin-bottom: 50px;
  color: #4D6A6D;
}
.letter .profile__pic {
  border-radius: 110px;
  box-sizing: content-box;
  position: relative;
  border: 6px solid #4D6A6D;
  margin-bottom: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.letter .profile__name {
  font-size: 2.6rem;
  margin-bottom: 10px;
}
.letter .profile__title {
  font-size: 2rem;
  font-weight: 300;
}
.letter .classified {
  text-align: center;
  position: relative;
}
.letter .classified__product {
  animation: floating 2s ease-in-out alternate infinite;
}

.numbers {
  background-color: #EAE0CC;
  position: relative;
}
.numbers .container {
  display: flex;
  align-items: center;
}
.numbers__lottie-bag {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.numbers__headline {
  padding-left: 25px;
  color: #4D6A6D;
  font-weight: bold;
  z-index: 1;
  position: relative;
}
.numbers__headline h3 {
  font-size: 4rem;
  margin-bottom: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  line-height: 6rem;
  text-transform: uppercase;
}
.numbers__headline h3 span {
  color: #710000;
}
.numbers__headline h4 {
  font-size: 3.5rem;
}

.how {
  background-color: #C9ADA1;
}
.how__product {
  position: relative;
  max-width: 100%;
}
.how__product img {
  max-width: 40%;
  padding-left: 10%;
}
.how__product h4 {
  max-width: 65%;
  font-size: 6rem;
  position: absolute;
  top: 30%;
  transform: translateX(50%);
  color: #fff;
  text-transform: uppercase;
  line-height: 7rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 880px) {
  .how__product h4 {
    max-width: 80%;
    line-height: 3.5rem;
    font-size: 3rem;
    transform: translateX(10%);
  }
  .how__product img {
    max-width: 65%;
  }
}
.discovered {
  background-color: #A0A083;
}

.vaccine {
  background-color: #798478;
}
.vaccine h2 {
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.vaccine__product {
  display: flex;
  justify-content: center;
}
.vaccine .product__animation {
  margin: 100px 0;
  max-width: 20%;
}
.vaccine .product__animation lottie-player {
  width: 100px;
  height: 100px;
}
.vaccine__patent {
  display: table;
  margin: 40px auto;
}
.vaccine__patent img {
  max-width: 100%;
  width: 500px;
}

@media screen and (max-width: 880px) {
  .vaccine__product .product__animation {
    max-width: 50%;
  }
}
.bigbusiness {
  background-color: #4D6A6D;
}
.bigbusiness h2 {
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.bigbusiness__amazon {
  margin: 40px auto;
}
.bigbusiness__amazon img {
  max-width: 100%;
  width: 500px;
}

.profits {
  background-color: #A0A083;
  position: relative;
}
.profits lottie-player {
  max-width: 85%;
  margin: 0 auto;
  text-align: center;
}
.profits h2 {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}
.profits h3 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.profits__chart {
  margin: 40px auto;
}
.profits__chart img {
  max-width: 100%;
  width: 500px;
}

@media screen and (max-width: 880px) {
  .profits h2 {
    font-size: 4rem;
  }
  .profits h3 {
    font-size: 2rem;
  }
}
.book {
  background-color: #798478;
  text-align: center;
}
.book h2 {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
}
.book__subtitle {
  font-size: 2.3rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
}
.book__heading {
  margin-bottom: 50px;
}
.book__product {
  display: block;
  width: 275px;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 50px;
  opacity: 0;
}
.book__subheading {
  margin: 50px auto;
}

@media screen and (max-width: 880px) {
  .book h2 {
    font-size: 4rem;
  }
}
.signup {
  background-color: #A0A083;
  overflow-x: hidden;
  position: relative;
  font-size: 1rem;
  padding-bottom: 300px !important;
  overflow: hidden;
}
.signup .rain.hide {
  display: none;
}
.signup__form {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  opacity: 0;
  z-index: 1;
  position: relative;
}
.signup input {
  outline: none;
  width: 100%;
  appearance: none;
  border: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 3em;
  padding: 15px 30px;
  color: #fff;
  background-color: #798478;
  display: table;
  text-align: center;
}
.signup input::placeholder {
  color: #333;
}
.signup button {
  outline: none;
  appearance: none;
  border: none;
  background-color: #4D6A6D;
  display: table;
  padding: 20px 30px;
  margin: 0 auto;
  width: 35%;
  color: #fff;
  font-size: 1.4em;
  text-transform: lowercase;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.4);
  transition: all 300ms;
}
.signup button img {
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  position: relative;
  left: 15px;
  transition: left 300ms;
}
.signup button:hover {
  box-shadow: none;
  background-color: #798478;
  width: 800px;
}
.signup button:hover img {
  left: 30px;
}
.signup__thanks {
  opacity: 0;
  position: relative;
  top: -50px;
  color: #4D6A6D;
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
  font-weight: 700;
  display: table;
}
.signup__planting {
  position: absolute;
  max-width: 300px;
  left: 0;
}

@media screen and (max-width: 880px) {
  .signup__form {
    font-size: 0.6rem;
  }
  .signup__form button {
    width: 100%;
    padding: 15px;
    font-size: 2em;
  }
}
.sticky-cta {
  padding: 15px 40px;
  background-color: #A5243D;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 40px;
  text-decoration: none;
  letter-spacing: 1px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.4);
  transition: background-color 300ms;
  transition: box-shadow 300ms;
  transition: padding 300ms;
  opacity: 0;
}
.sticky-cta:hover {
  background-color: #cb2c4b;
  box-shadow: none;
  padding: 15px 55px;
}
